.css-grid {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: 33% 67%;
  grid-template-rows: 33% 67%;
  height: 100%;
  width: 50%;
  background-color: blanchedalmond;
}
.mat-progress-bar{
  display: inline-block;
  width: 70%;
}
h1{

  display: flex;
  justify-content: center;
  align-items: center;
}
div{
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
table {
  width: 80%;
  justify-content: center;

}
mat-grid-tile{
  border: solid gray;
}

th.mat-sort-header-sorted {
  color: black;
}
